
.containerHome {
    background-color: #4ED8D9;

}
.containerHome-containerBody {
    position: relative;
    top: -60px;
}

.containerHome-containerBody_carousel, .containerHome-containerBody_body {
    background-color: #ffff;
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,.15);
}

.containerHome-containerBody_body_poster {
    max-height: 381px;
}
