.containerQcm {
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,.15);
}

.containerQcm-title {
    position: relative;
    top: -7px;
    color: #7451eb;
    letter-spacing: 2px;
    /* font-weight: lighter; */
}

.containerQcm-btnAction {
    width: 275px;
}

.containerQcm__picture {
    height: 400px;
    width: 270px;
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,.15);
}