
* {
    margin: 0px;
}

.row {
    /* margin: 10px 60px; */
    padding: 0px 15px 0px 15px;
}

.row_title {
    font-size: 1.3rem;
    /* font-weight: 600; */
    font-weight: lighter;
    letter-spacing: 2px;
    color: #7451eb;
    text-transform: uppercase;
}

.row_posters {
    display: flex;
    align-items: center;
    overflow-y: hidden;
    overflow-x: scroll;
    /* min-height: 215px; */
    min-height: 340px;
    transition: 500ms;
    scroll-behavior: smooth;
}

.row_posters::-webkit-scrollbar {
    display: none;
}

.row_poster {
    object-fit: contain;
    height: 100%;
}

.wrap {
    display: inline-block;
    position: relative;
    /* height: 100px; */
    height: 250px;
    width: fit-content;
    margin: 0 1px;
    cursor: pointer;
    transition: height 500ms;
}

.wrap:hover {
    /* height: 187px; */
    height: 337px;
}

.poster_title {
    /* font-family: "Cinzel", serif; */
    position: absolute;
    left: 10px;
    bottom: 20px;
    color: #cecdcd;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity 2000ms 1000ms;
}

.wrap:hover .poster_title {
    opacity: 0;
    transition: opacity 100ms;
}

.poster_info {
    position: absolute;
    left: 5px;
    bottom: 50px;
    font-weight: 300;
    font-size: 0.75rem;
    width: 250px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 100ms;
}

.wrap:hover .poster_info {
    opacity: 1;
    transition: opacity 2000ms;
}

.poster_info p {
    padding-top: 5px;
}

.scroll_button {
    position: absolute;
    height: 187px;
    width: 43px;
    background-color: #0f0f0f4b;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.right_arrow {
    right: 60px;
    /* right: 187px; */
    opacity: 0;
    visibility: hidden;
    transform: translateX(20%);
    transition: all 500ms;
}

.left_arrow {
    left: 60px;
    /* left: 187px; */
    opacity: 0;
    visibility: hidden;
    transform: translateX(-20%);
    transition: all 500ms;
}

.row_posters:hover .right_arrow {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
}

.row_posters:hover .left_arrow {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
}

.space {
    min-width: 155px;
    height: 126px;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}